Repository nebulastream/nebulastream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

.github/CODEOWNERS:

# Protecting the code owner file from any changes
/.github/CODEOWNERS @keyseven123 @adrianmichalke @alepping @ls-1801

# The maintainers are the default owners for everything in the repo. Unless a later match takes precedence, one of
# the maintainers will be request review when someone opens a pull request.
* @keyseven123 @adrianmichalke @alepping @ls-1801

## We will set here owners for each folder that usually encapsulates one or more components.
## We aim for having at least two persons per folder to have a little bit of a redundancy.
/docker/ @keyseven123 @ls-1801
/scripts/ @keyseven123 @ls-1801
/vcpkg/ @keyseven123 @ls-1801 @adrianmichalke
/grpc/ @ls-1801 @adrianmichalke
/nes-client/ @alepping @adrianmichalke @ls-1801
/nes-common/ @keyseven123 @adrianmichalke
/nes-configurations/ @alepping @adrianmichalke
/nes-data-types/ @alepping @adrianmichalke @ls-1801
/nes-execution/ @keyseven123 @adrianmichalke
/nes-expressions/ @alepping @adrianmichalke
/nes-memory/ @ls-1801 @alepping @keyseven123
/nes-nautilus/ @alepping @keyseven123 @ls-1801
/nes-nebuli/ @ls-1801 @adrianmichalke @alepping
/nes-operators/ @adrianmichalke @alepping @keyseven123
/nes-runtime/ @keyseven123 @ls-1801 @adrianmichalke
/nes-single-node-worker/ @alepping @adrianmichalke @ls-1801
/nes-sources/ @alepping @keyseven123 @ls-1801
/nes-window-types/ @alepping @adrianmichalke @keyseven123 @ls-1801


# We will set here the ownership specific files or folders. This will be populated in the future

[#24] chore(PR Lottery) Adapted pr reviewer lottery.
  .github/reviewer-lottery.yml
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

Hotfix(CI): rm `paths-ignored` from `pr.yml` This lead to the situation that PRs got stuck as not run checks block the merge.
  .github/workflows/pr.yml
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

Hotfix(CI): rm `paths-ignored` from `pr.yml` This lead to the situation that PRs got stuck as not run checks block the merge.
  .github/workflows/pr.yml
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

Hotfix(CI): rm `paths-ignored` from `pr.yml` This lead to the situation that PRs got stuck as not run checks block the merge.
  .github/workflows/pr.yml
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

feat(SystemTests): system level tests design document
  docs/design/20240724_system_level_tests.md
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

feat(SystemTests): system level tests design document
  docs/design/20240724_system_level_tests.md
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

feat(SystemTests): system level tests design document
  docs/design/20240724_system_level_tests.md
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

Extracted Schema out of Sources
  nes-execution/src/QueryCompiler/Operators/PhysicalOperators/PhysicalSourceOperator.cpp
  nes-operators/src/Operators/LogicalOperators/Sources/SourceLogicalOperator.cpp
  nes-sources/include/Sources/CSVSource.hpp
  nes-sources/include/Sources/Parsers/CSVParser.hpp
  nes-sources/include/Sources/Parsers/Parser.hpp
  nes-sources/include/Sources/Source.hpp
  nes-sources/include/Sources/TCPSource.hpp
  nes-sources/src/CSVSource.cpp
  nes-sources/src/DataSource.cpp
  nes-sources/src/Parsers/CSVParser.cpp
  nes-sources/src/Parsers/Parser.cpp
  nes-sources/src/SourceProvider.cpp
  nes-sources/src/TCPSource.cpp
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

Refactored CSV Parser
  nes-data-types/include/Common/PhysicalTypes/PhysicalType.hpp
  nes-sources/include/Sources/Parsers/CSVParser.hpp
  nes-sources/include/Sources/Parsers/Parser.hpp
  nes-sources/include/Sources/Source.hpp
  nes-sources/src/CSVSource.cpp
  nes-sources/src/DataSource.cpp
  nes-sources/src/Parsers/CSVParser.cpp
  nes-sources/src/Parsers/Parser.cpp
  nes-sources/src/TCPSource.cpp
Owners: @alepping, @adrianmichalke, @ls-1801, @keyseven123

Removed physical source name
  nes-configurations/include/Configurations/ConfigurationsNames.hpp
  nes-configurations/include/Configurations/Worker/PhysicalSourceTypeFactory.hpp
  nes-configurations/include/Configurations/Worker/PhysicalSourceTypes/CSVSourceType.hpp
  nes-configurations/include/Configurations/Worker/PhysicalSourceTypes/PhysicalSourceType.hpp
  nes-configurations/include/Configurations/Worker/PhysicalSourceTypes/TCPSourceType.hpp
  nes-configurations/src/Configurations/Worker/PhysicalSourceTypeFactory.cpp
  nes-configurations/src/Configurations/Worker/PhysicalSourceTypes/CSVSourceType.cpp
  nes-configurations/src/Configurations/Worker/PhysicalSourceTypes/PhysicalSourceType.cpp
  nes-configurations/src/Configurations/Worker/PhysicalSourceTypes/TCPSourceType.cpp
  nes-execution/src/QueryCompiler/Phases/Translations/LowerToExecutableQueryPlanPhase.cpp
  nes-nebuli/private/SourceCatalogs/PhysicalSource.hpp
  nes-nebuli/src/NebuLI.cpp
  nes-nebuli/src/Optimizer/QueryRewrite/LogicalSourceExpansionRule.cpp
  nes-nebuli/src/SourceCatalogs/PhysicalSource.cpp
  nes-nebuli/src/SourceCatalogs/SourceCatalog.cpp
  nes-operators/include/Operators/LogicalOperators/Sources/CsvSourceDescriptor.hpp
  nes-operators/include/Operators/LogicalOperators/Sources/SourceDescriptor.hpp
  nes-operators/include/Operators/LogicalOperators/Sources/TCPSourceDescriptor.hpp
  nes-operators/src/Operators/LogicalOperators/Sources/CsvSourceDescriptor.cpp
  nes-operators/src/Operators/LogicalOperators/Sources/LogicalSourceDescriptor.cpp
  nes-operators/src/Operators/LogicalOperators/Sources/SourceDescriptor.cpp
  nes-operators/src/Operators/LogicalOperators/Sources/TCPSourceDescriptor.cpp
  nes-operators/src/Operators/Serialization/OperatorSerializationUtil.cpp
  nes-single-node-worker/tests/testdata/queriesSerialized/qOneCSVSource.bin
  nes-single-node-worker/tests/testdata/queriesSerialized/qOneCSVSource.yaml.bin
  nes-single-node-worker/tests/testdata/queriesSerialized/qOneCSVSourceWithFilter.bin
  nes-single-node-worker/tests/testdata/queriesSerialized/qTwoCSVSourceWithFilter.bin
  nes-single-node-worker/tests/testdata/queriesSerialized/qTwoCSVSourcesWithFilter.bin
Owners: @alepping, @adrianmichalke, @keyseven123, @ls-1801

Source now accepts general Descriptor.
  grpc/SerializableOperator.proto
  nes-execution/src/QueryCompiler/Phases/Translations/LowerToExecutableQueryPlanPhase.cpp
  nes-operators/include/Operators/LogicalOperators/Sources/LogicalSourceDescriptor.hpp
  nes-operators/include/Operators/LogicalOperators/Sources/SourceDescriptor.hpp
  nes-operators/src/Operators/LogicalOperators/Sources/CsvSourceDescriptor.cpp
  nes-operators/src/Operators/LogicalOperators/Sources/LogicalSourceDescriptor.cpp
  nes-operators/src/Operators/LogicalOperators/Sources/SourceDescriptor.cpp
  nes-operators/src/Operators/LogicalOperators/Sources/TCPSourceDescriptor.cpp
  nes-operators/src/Operators/Serialization/OperatorSerializationUtil.cpp
  nes-sources/include/Sources/CSVSource.hpp
  nes-sources/include/Sources/Source.hpp
  nes-sources/include/Sources/TCPSource.hpp
  nes-sources/src/CSVSource.cpp
  nes-sources/src/TCPSource.cpp
Owners: @ls-1801, @adrianmichalke, @keyseven123, @alepping

#74 : Introduced Static Source Plugin Registry.
  nes-configurations/include/Configurations/Worker/PhysicalSourceTypes/PhysicalSourceType.hpp
  nes-single-node-worker/tests/Util/include/IntegrationTestUtil.hpp
  nes-sources/include/Sources/CSVSource.hpp
  nes-sources/include/Sources/Registry/GeneratedSourceRegistrar.hpp
  nes-sources/include/Sources/Registry/SourceRegistry.hpp
  nes-sources/include/Sources/Source.hpp
  nes-sources/include/Sources/TCPSource.hpp
  nes-sources/src/CSVSource.cpp
  nes-sources/src/Registry/CMakeLists.txt
  nes-sources/src/Registry/SourceRegistry.cpp
  nes-sources/src/SourceProvider.cpp
  nes-sources/src/TCPSource.cpp
Owners: @alepping, @adrianmichalke, @ls-1801, @keyseven123

refactor(Sources) replace shared_ptr with reference
  nes-memory/TestTupleBuffer.cpp
  nes-memory/include/Util/TestTupleBuffer.hpp
  nes-sources/include/Sources/CSVSource.hpp
  nes-sources/include/Sources/Parsers/CSVParser.hpp
  nes-sources/include/Sources/Parsers/Parser.hpp
  nes-sources/include/Sources/Source.hpp
  nes-sources/include/Sources/TCPSource.hpp
  nes-sources/src/CSVSource.cpp
  nes-sources/src/DataSource.cpp
  nes-sources/src/Parsers/CSVParser.cpp
  nes-sources/src/TCPSource.cpp
Owners: @ls-1801, @alepping, @keyseven123

5062 add integer constant values to psl parser (#5063)
  nes-coordinator/include/Parsers/NebulaPSL/NebulaPSLQueryPlanCreator.hpp
  nes-coordinator/src/Parsers/NebulaPSL/NesCEPQueryPlanCreator.cpp
  nes-coordinator/tests/UnitTests/Services/PatternParsingServiceTest.cpp
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

GIT-CI: Adding changelog for version v0.6.176
  CHANGELOG.md
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

GIT-CI: Updating NES version to 0.6.176
  nes-common/include/Version/version.hpp
Owners: @keyseven123, @adrianmichalke

GIT-CI: Updating NES version to 0.6.177-SNAPSHOT
  nes-common/include/Version/version.hpp
Owners: @keyseven123, @adrianmichalke

feat(CI) Run PR Action for PRs into any branch
  .github/workflows/pr.yml
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

feat(CI) Run PR Action for PRs into any branch
  .github/workflows/pr.yml
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

feat(CI) Run PR Action for PRs into any branch
  .github/workflows/pr.yml
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

Add tests that document mold-strip-bug
  CMakeLists.txt
  nes-single-node-worker/CMakeLists.txt
  nes-single-node-worker/tests/CMakeLists.txt
  nes-single-node-worker/tests/MoldStripBug.cpp
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

docs(Development) link to base.dockerfile
  docs/development.md
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

docs(Development) link to base.dockerfile
  docs/development.md
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

docs(Development) link to base.dockerfile
  docs/development.md
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

chore(clang-tidy): remove altera-unroll-loop clang-tidy check
  .clang-tidy
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

feat(QueryLog): introduce QueryLog component
  grpc/SingleNodeWorkerRPCService.proto
  nes-common/src/Util/CMakeLists.txt
  nes-execution/src/Runtime/NodeEngineBuilder.cpp
  nes-nebuli/src/NebuLIStarter.cpp
  nes-runtime/include/Listeners/AbstractQueryStatusListener.hpp
  nes-runtime/include/Listeners/QueryLog.hpp
  nes-runtime/include/Runtime/Execution/QueryStatus.hpp
  nes-runtime/include/Runtime/NodeEngine.hpp
  nes-runtime/include/Runtime/QueryManager.hpp
  nes-runtime/include/Runtime/RuntimeForwardRefs.hpp
  nes-runtime/src/CMakeLists.txt
  nes-runtime/src/Listeners/CMakeLists.txt
  nes-runtime/src/Listeners/QueryLog.cpp
  nes-runtime/src/Runtime/Execution/ExecutableQueryPlan.cpp
  nes-runtime/src/Runtime/NodeEngine.cpp
  nes-runtime/src/Runtime/QueryManager.cpp
  nes-runtime/src/Runtime/QueryManagerLifecycle.cpp
  nes-runtime/src/Runtime/QueryManagerStatusListener.cpp
  nes-single-node-worker/include/GrpcService.hpp
  nes-single-node-worker/include/SingleNodeWorker.hpp
  nes-single-node-worker/src/GrpcService.cpp
  nes-single-node-worker/src/SingleNodeWorker.cpp
  nes-single-node-worker/tests/Integration/SingleNodeIntegrationTestsMixedSources.cpp
  nes-single-node-worker/tests/Integration/SingleNodeIntegrationTestsTCP.cpp
Owners: @ls-1801, @adrianmichalke, @keyseven123, @alepping

fix(ExecutableQueryPlan): resolve error that sources get destroyed multiple times when hard-stopping
  nes-runtime/src/Runtime/Execution/ExecutableQueryPlan.cpp
  nes-sources/src/CSVSource.cpp
Owners: @keyseven123, @ls-1801, @adrianmichalke, @alepping

test(QueryLog): adds integration test for QueryLog
  nes-single-node-worker/tests/Integration/CMakeLists.txt
  nes-single-node-worker/tests/Integration/SingleNodeIntegrationTestsCSV.cpp
  nes-single-node-worker/tests/Integration/SingleNodeIntegrationTestsQueryStatus.cpp
  nes-single-node-worker/tests/Integration/SingleNodeIntegrationTestsTCP.cpp
  nes-single-node-worker/tests/Util/include/IntegrationTestUtil.hpp
  nes-single-node-worker/tests/Util/src/IntegrationTestUtil.cpp
  nes-single-node-worker/tests/testdata/queriesSerialized/qOneCSVSource.yaml.bin
Owners: @alepping, @adrianmichalke, @ls-1801

chore(CMake): make prints less verbose
  CMakeLists.txt
  cmake/macros.cmake
  cmake/semver/GetSemanticVersion.cmake
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

chore(clang-tidy): ignore readability-function-cognitive-complexity check for macros
  .clang-tidy
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

chore(CMake): remove doxgen docs cmake
  CMakeLists.txt
  cmake/docs/CMakeLists.txt
  cmake/docs/Doxyfile.in
  cmake/docs/doxygen-awesome.css
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

chore(Runtime) cleanup dependencies and remove obsolete comments
  nes-common/include/Util/QueryStateHistory.hpp
  nes-common/include/Util/SharedQueryPlanStatus.hpp
  nes-common/include/Util/Subprocess/Subprocess.hpp
  nes-common/include/Util/TimeMeasurement.hpp
  nes-common/include/Util/TopologyLinkInformation.hpp
  nes-common/src/Util/QueryStateHistory.cpp
  nes-common/src/Util/Subprocess/Subprocess.cpp
  nes-common/src/Util/TimeMeasurement.cpp
  nes-common/src/Util/TopologyLinkInformation.cpp
  nes-execution/include/Runtime/NodeEngineBuilder.hpp
  nes-execution/src/Runtime/NodeEngineBuilder.cpp
  nes-memory/include/MemoryLayout/ColumnLayout.hpp
  nes-memory/include/MemoryLayout/ColumnLayoutField.hpp
  nes-memory/include/MemoryLayout/RowLayoutField.hpp
  nes-memory/include/Runtime/BufferManager.hpp
  nes-runtime/include/Nautilus/IR/Phases/ValueScopingPhase.hpp
  nes-runtime/include/Runtime/AsyncTaskExecutor.hpp
  nes-runtime/include/Runtime/Execution/ExecutablePipelineStage.hpp
  nes-runtime/include/Runtime/Execution/ExecutableQueryPlan.hpp
  nes-runtime/include/Runtime/NodeEngine.hpp
  nes-runtime/include/Runtime/QueryManager.hpp
  nes-runtime/include/Runtime/Task.hpp
  nes-runtime/include/Runtime/ThreadPool.hpp
  nes-runtime/include/Runtime/WorkerContext.hpp
  nes-runtime/src/Exceptions/TaskExecutionException.cpp
  nes-runtime/src/Listeners/QueryLog.cpp
  nes-runtime/tests/UnitTests/Runtime/Formats/JsonFormatTest.cpp
  nes-runtime/tests/UnitTests/Runtime/MemoryLayouts/ColumnarMemoryLayoutTest.cpp
Owners: @keyseven123, @adrianmichalke, @ls-1801, @alepping

chore(clang-tidy): remove altera-unroll-loop clang-tidy check
  .clang-tidy
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

feat(QueryLog): introduce QueryLog component
  grpc/SingleNodeWorkerRPCService.proto
  nes-common/src/Util/CMakeLists.txt
  nes-execution/src/Runtime/NodeEngineBuilder.cpp
  nes-nebuli/src/NebuLIStarter.cpp
  nes-runtime/include/Listeners/AbstractQueryStatusListener.hpp
  nes-runtime/include/Listeners/QueryLog.hpp
  nes-runtime/include/Runtime/Execution/QueryStatus.hpp
  nes-runtime/include/Runtime/NodeEngine.hpp
  nes-runtime/include/Runtime/QueryManager.hpp
  nes-runtime/include/Runtime/RuntimeForwardRefs.hpp
  nes-runtime/src/CMakeLists.txt
  nes-runtime/src/Listeners/CMakeLists.txt
  nes-runtime/src/Listeners/QueryLog.cpp
  nes-runtime/src/Runtime/Execution/ExecutableQueryPlan.cpp
  nes-runtime/src/Runtime/NodeEngine.cpp
  nes-runtime/src/Runtime/QueryManager.cpp
  nes-runtime/src/Runtime/QueryManagerLifecycle.cpp
  nes-runtime/src/Runtime/QueryManagerStatusListener.cpp
  nes-single-node-worker/include/GrpcService.hpp
  nes-single-node-worker/include/SingleNodeWorker.hpp
  nes-single-node-worker/src/GrpcService.cpp
  nes-single-node-worker/src/SingleNodeWorker.cpp
  nes-single-node-worker/tests/Integration/SingleNodeIntegrationTestsMixedSources.cpp
  nes-single-node-worker/tests/Integration/SingleNodeIntegrationTestsTCP.cpp
Owners: @ls-1801, @adrianmichalke, @keyseven123, @alepping

chore(CMake): make prints less verbose
  CMakeLists.txt
  cmake/macros.cmake
  cmake/semver/GetSemanticVersion.cmake
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

test(QueryLog): adds integration test for QueryLog
  nes-single-node-worker/tests/Integration/CMakeLists.txt
  nes-single-node-worker/tests/Integration/SingleNodeIntegrationTestsCSV.cpp
  nes-single-node-worker/tests/Integration/SingleNodeIntegrationTestsQueryStatus.cpp
  nes-single-node-worker/tests/Integration/SingleNodeIntegrationTestsTCP.cpp
  nes-single-node-worker/tests/Util/include/IntegrationTestUtil.hpp
  nes-single-node-worker/tests/Util/src/IntegrationTestUtil.cpp
  nes-single-node-worker/tests/testdata/queriesSerialized/qOneCSVSource.yaml.bin
Owners: @alepping, @adrianmichalke, @ls-1801

test(QueryLog): adds integration test for QueryLog
  nes-single-node-worker/tests/Integration/CMakeLists.txt
  nes-single-node-worker/tests/Integration/SingleNodeIntegrationTestsCSV.cpp
  nes-single-node-worker/tests/Integration/SingleNodeIntegrationTestsQueryStatus.cpp
  nes-single-node-worker/tests/Integration/SingleNodeIntegrationTestsTCP.cpp
  nes-single-node-worker/tests/Util/include/IntegrationTestUtil.hpp
  nes-single-node-worker/tests/Util/src/IntegrationTestUtil.cpp
  nes-single-node-worker/tests/testdata/queriesSerialized/qOneCSVSource.yaml.bin
Owners: @alepping, @adrianmichalke, @ls-1801

chore(Runtime) cleanup dependencies and remove obsolete comments
  nes-common/include/Util/QueryStateHistory.hpp
  nes-common/include/Util/SharedQueryPlanStatus.hpp
  nes-common/include/Util/Subprocess/Subprocess.hpp
  nes-common/include/Util/TimeMeasurement.hpp
  nes-common/include/Util/TopologyLinkInformation.hpp
  nes-common/src/Util/QueryStateHistory.cpp
  nes-common/src/Util/Subprocess/Subprocess.cpp
  nes-common/src/Util/TimeMeasurement.cpp
  nes-common/src/Util/TopologyLinkInformation.cpp
  nes-execution/include/Runtime/NodeEngineBuilder.hpp
  nes-execution/src/Runtime/NodeEngineBuilder.cpp
  nes-memory/include/MemoryLayout/ColumnLayout.hpp
  nes-memory/include/MemoryLayout/ColumnLayoutField.hpp
  nes-memory/include/MemoryLayout/RowLayoutField.hpp
  nes-memory/include/Runtime/BufferManager.hpp
  nes-runtime/include/Nautilus/IR/Phases/ValueScopingPhase.hpp
  nes-runtime/include/Runtime/AsyncTaskExecutor.hpp
  nes-runtime/include/Runtime/Execution/ExecutablePipelineStage.hpp
  nes-runtime/include/Runtime/Execution/ExecutableQueryPlan.hpp
  nes-runtime/include/Runtime/NodeEngine.hpp
  nes-runtime/include/Runtime/QueryManager.hpp
  nes-runtime/include/Runtime/Task.hpp
  nes-runtime/include/Runtime/ThreadPool.hpp
  nes-runtime/include/Runtime/WorkerContext.hpp
  nes-runtime/src/Exceptions/TaskExecutionException.cpp
  nes-runtime/src/Listeners/QueryLog.cpp
  nes-runtime/tests/UnitTests/Runtime/Formats/JsonFormatTest.cpp
  nes-runtime/tests/UnitTests/Runtime/MemoryLayouts/ColumnarMemoryLayoutTest.cpp
Owners: @keyseven123, @adrianmichalke, @ls-1801, @alepping

feat(QueryLog): introduce QueryLog component
  grpc/SingleNodeWorkerRPCService.proto
  nes-common/src/Util/CMakeLists.txt
  nes-execution/src/Runtime/NodeEngineBuilder.cpp
  nes-nebuli/src/NebuLIStarter.cpp
  nes-runtime/include/Listeners/AbstractQueryStatusListener.hpp
  nes-runtime/include/Listeners/QueryLog.hpp
  nes-runtime/include/Runtime/Execution/QueryStatus.hpp
  nes-runtime/include/Runtime/NodeEngine.hpp
  nes-runtime/include/Runtime/QueryManager.hpp
  nes-runtime/include/Runtime/RuntimeForwardRefs.hpp
  nes-runtime/src/CMakeLists.txt
  nes-runtime/src/Listeners/CMakeLists.txt
  nes-runtime/src/Listeners/QueryLog.cpp
  nes-runtime/src/Runtime/Execution/ExecutableQueryPlan.cpp
  nes-runtime/src/Runtime/NodeEngine.cpp
  nes-runtime/src/Runtime/QueryManager.cpp
  nes-runtime/src/Runtime/QueryManagerLifecycle.cpp
  nes-runtime/src/Runtime/QueryManagerStatusListener.cpp
  nes-single-node-worker/include/GrpcService.hpp
  nes-single-node-worker/include/SingleNodeWorker.hpp
  nes-single-node-worker/src/GrpcService.cpp
  nes-single-node-worker/src/SingleNodeWorker.cpp
  nes-single-node-worker/tests/Integration/SingleNodeIntegrationTestsMixedSources.cpp
  nes-single-node-worker/tests/Integration/SingleNodeIntegrationTestsTCP.cpp
Owners: @ls-1801, @adrianmichalke, @keyseven123, @alepping

chore(clang-tidy): ignore readability-function-cognitive-complexity check for macros
  .clang-tidy
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801
