Repository nebulastream/nebulastream, changes with the owners that .github/CODEOWNERS names for each.
All owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

.github/CODEOWNERS:

# Protecting the code owner file from any changes
/.github/CODEOWNERS @keyseven123 @adrianmichalke @alepping @ls-1801

# The maintainers are the default owners for everything in the repo. Unless a later match takes precedence, one of
# the maintainers will be request review when someone opens a pull request.
* @keyseven123 @adrianmichalke @alepping @ls-1801

## We will set here owners for each folder that usually encapsulates one or more components.
## We aim for having at least two persons per folder to have a little bit of a redundancy.
/docker/ @keyseven123 @ls-1801
/scripts/ @keyseven123 @ls-1801
/vcpkg/ @keyseven123 @ls-1801 @adrianmichalke
/grpc/ @ls-1801 @adrianmichalke
/nes-client/ @alepping @adrianmichalke @ls-1801
/nes-common/ @keyseven123 @adrianmichalke
/nes-configurations/ @alepping @adrianmichalke
/nes-data-types/ @alepping @adrianmichalke @ls-1801
/nes-execution/ @keyseven123 @adrianmichalke
/nes-expressions/ @alepping @adrianmichalke
/nes-memory/ @ls-1801 @alepping @keyseven123
/nes-nautilus/ @alepping @keyseven123 @ls-1801
/nes-nebuli/ @ls-1801 @adrianmichalke @alepping
/nes-operators/ @adrianmichalke @alepping @keyseven123
/nes-runtime/ @keyseven123 @ls-1801 @adrianmichalke
/nes-single-node-worker/ @alepping @adrianmichalke @ls-1801
/nes-sources/ @alepping @keyseven123 @ls-1801
/nes-window-types/ @alepping @adrianmichalke @keyseven123 @ls-1801


# We will set here the ownership specific files or folders. This will be populated in the future

chore(clang-tidy): remove altera-unroll-loop clang-tidy check
  .clang-tidy
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

fix(ExecutableQueryPlan): resolve error that sources get destroyed multiple times when hard-stopping
  nes-runtime/src/Runtime/Execution/ExecutableQueryPlan.cpp
  nes-sources/src/CSVSource.cpp
Owners: @keyseven123, @ls-1801, @adrianmichalke, @alepping

chore(clang-tidy): ignore readability-function-cognitive-complexity check for macros
  .clang-tidy
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

chore(CMake): make prints less verbose
  CMakeLists.txt
  cmake/macros.cmake
  cmake/semver/GetSemanticVersion.cmake
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

chore(CMake): remove doxgen docs cmake
  CMakeLists.txt
  cmake/docs/CMakeLists.txt
  cmake/docs/Doxyfile.in
  cmake/docs/doxygen-awesome.css
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

chore(Runtime) cleanup dependencies and remove obsolete comments
  nes-common/include/Util/QueryStateHistory.hpp
  nes-common/include/Util/SharedQueryPlanStatus.hpp
  nes-common/include/Util/Subprocess/Subprocess.hpp
  nes-common/include/Util/TimeMeasurement.hpp
  nes-common/include/Util/TopologyLinkInformation.hpp
  nes-common/src/Util/QueryStateHistory.cpp
  nes-common/src/Util/Subprocess/Subprocess.cpp
  nes-common/src/Util/TimeMeasurement.cpp
  nes-common/src/Util/TopologyLinkInformation.cpp
  nes-execution/include/Runtime/NodeEngineBuilder.hpp
  nes-execution/src/Runtime/NodeEngineBuilder.cpp
  nes-memory/include/MemoryLayout/ColumnLayout.hpp
  nes-memory/include/MemoryLayout/ColumnLayoutField.hpp
  nes-memory/include/MemoryLayout/RowLayoutField.hpp
  nes-memory/include/Runtime/BufferManager.hpp
  nes-runtime/include/Nautilus/IR/Phases/ValueScopingPhase.hpp
  nes-runtime/include/Runtime/AsyncTaskExecutor.hpp
  nes-runtime/include/Runtime/Execution/ExecutablePipelineStage.hpp
  nes-runtime/include/Runtime/Execution/ExecutableQueryPlan.hpp
  nes-runtime/include/Runtime/NodeEngine.hpp
  nes-runtime/include/Runtime/QueryManager.hpp
  nes-runtime/include/Runtime/Task.hpp
  nes-runtime/include/Runtime/ThreadPool.hpp
  nes-runtime/include/Runtime/WorkerContext.hpp
  nes-runtime/src/Exceptions/TaskExecutionException.cpp
  nes-runtime/src/Listeners/QueryLog.cpp
  nes-runtime/tests/UnitTests/Runtime/Formats/JsonFormatTest.cpp
  nes-runtime/tests/UnitTests/Runtime/MemoryLayouts/ColumnarMemoryLayoutTest.cpp
Owners: @keyseven123, @adrianmichalke, @ls-1801, @alepping

chore(CMake): remove doxgen docs cmake
  CMakeLists.txt
  cmake/docs/CMakeLists.txt
  cmake/docs/Doxyfile.in
  cmake/docs/doxygen-awesome.css
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

fix(ExecutableQueryPlan): resolve error that sources get destroyed multiple times when hard-stopping
  nes-runtime/src/Runtime/Execution/ExecutableQueryPlan.cpp
  nes-sources/src/CSVSource.cpp
Owners: @keyseven123, @ls-1801, @adrianmichalke, @alepping

fix(Docs) Removes broken image
  docs/development.md
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

feat(Build) Enabls using locally installed version of MLIR
  cmake/ImportDependencies.cmake
  cmake/UseLibcxx.cmake
  vcpkg/custom-triplets/arm64-linux-asan.cmake
  vcpkg/custom-triplets/arm64-linux-nes.cmake
  vcpkg/custom-triplets/arm64-linux-tsan.cmake
  vcpkg/custom-triplets/arm64-linux-ubsan.cmake
  vcpkg/custom-triplets/libcxx-toolchain.cmake
  vcpkg/custom-triplets/x64-linux-asan.cmake
  vcpkg/custom-triplets/x64-linux-local.cmake
  vcpkg/custom-triplets/x64-linux-tsan.cmake
  vcpkg/custom-triplets/x64-linux-ubsan.cmake
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

docs(Build) Adds documentation for using locally installed MLIR
  docs/development.md
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

fix(Docs) Removes broken image
  docs/development.md
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

docs(Build) Adds documentation for using locally installed MLIR
  docs/development.md
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

fix(Docs) Removes broken image
  docs/development.md
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

docs(Build) Adds documentation for using locally installed MLIR
  docs/development.md
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

feat(Build) Enabls using locally installed version of MLIR
  cmake/ImportDependencies.cmake
  cmake/UseLibcxx.cmake
  vcpkg/custom-triplets/arm64-linux-asan.cmake
  vcpkg/custom-triplets/arm64-linux-nes.cmake
  vcpkg/custom-triplets/arm64-linux-tsan.cmake
  vcpkg/custom-triplets/arm64-linux-ubsan.cmake
  vcpkg/custom-triplets/libcxx-toolchain.cmake
  vcpkg/custom-triplets/x64-linux-asan.cmake
  vcpkg/custom-triplets/x64-linux-local.cmake
  vcpkg/custom-triplets/x64-linux-tsan.cmake
  vcpkg/custom-triplets/x64-linux-ubsan.cmake
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

feat(Build) Enabls using locally installed version of MLIR
  cmake/ImportDependencies.cmake
  cmake/UseLibcxx.cmake
  vcpkg/custom-triplets/arm64-linux-asan.cmake
  vcpkg/custom-triplets/arm64-linux-nes.cmake
  vcpkg/custom-triplets/arm64-linux-tsan.cmake
  vcpkg/custom-triplets/arm64-linux-ubsan.cmake
  vcpkg/custom-triplets/libcxx-toolchain.cmake
  vcpkg/custom-triplets/x64-linux-asan.cmake
  vcpkg/custom-triplets/x64-linux-local.cmake
  vcpkg/custom-triplets/x64-linux-tsan.cmake
  vcpkg/custom-triplets/x64-linux-ubsan.cmake
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

GIT-CI: Adding changelog for version v0.6.177
  CHANGELOG.md
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

GIT-CI: Updating NES version to 0.6.177
  nes-common/include/Version/version.hpp
Owners: @keyseven123, @adrianmichalke

GIT-CI: Updating NES version to 0.6.178-SNAPSHOT
  nes-common/include/Version/version.hpp
Owners: @keyseven123, @adrianmichalke

fixup! chore: replace vendored mini-yaml with yaml-cpp
  nes-common/include/Util/yaml/Yaml.hpp
  nes-common/src/Util/CMakeLists.txt
  nes-common/src/Util/yaml/CMakeLists.txt
  nes-common/src/Util/yaml/Yaml.cpp
  nes-configurations/include/Configurations/ConfigurationOption.hpp
Owners: @keyseven123, @adrianmichalke, @alepping

Hack to add fuzztest
  .gitmodules
  fuzz/CMakeLists.txt
  fuzz/fuzztesttest.cpp
  fuzz/vcpkg.patch
  vcpkg/vcpkg-registry/ports/re2/portfile.cmake
  vcpkg/vcpkg-registry/ports/re2/vcpkg.json
Owners: @keyseven123, @adrianmichalke, @alepping, @ls-1801

fixup! chore: replace vendored mini-yaml with yaml-cpp
  nes-common/include/Util/yaml/Yaml.hpp
  nes-common/src/Util/CMakeLists.txt
  nes-common/src/Util/yaml/CMakeLists.txt
  nes-common/src/Util/yaml/Yaml.cpp
  nes-configurations/include/Configurations/ConfigurationOption.hpp
Owners: @keyseven123, @adrianmichalke, @alepping

fixup! chore: replace vendored mini-yaml with yaml-cpp
  nes-common/include/Util/yaml/Yaml.hpp
  nes-common/src/Util/CMakeLists.txt
  nes-common/src/Util/yaml/CMakeLists.txt
  nes-common/src/Util/yaml/Yaml.cpp
  nes-configurations/include/Configurations/ConfigurationOption.hpp
Owners: @keyseven123, @adrianmichalke, @alepping

WIP
  nes-nautilus/include/Nautilus/DataTypes/VarVal.hpp
  nes-nautilus/src/Nautilus/DataTypes/VarVal.cpp
Owners: @alepping, @keyseven123, @ls-1801
